*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Public Sans', sans-serif;
}
.manu-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
    
}
.manu{
    display: flex;
    list-style: none;
    align-items: center;
}
.items{
    margin-right: 20px;
    display: flex;
    cursor: pointer;
}
.items:hover{
    color: tomato;
}
.o{
    color: tomato;
}
.btn{
    padding: 10px 20px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    color: white;
}
.navbar{
    background-color: rgb(240, 212, 217);

}
.btn-contect{
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: tomato;
    margin-left: 10px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(./image/—Pngtree—circle\ with\ a\ yellow\ gradient_5004117.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 470px;
}
    
.main-text{
    margin-bottom: 20px;
}

.image-container{
    max-width: 400px;
    margin-right: -200px; 
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: rgb(240, 212, 217);
    margin: 130px 0px;
   
}
.text-style{
    text-align: center;
    size: 35px;
    font-weight: 700;
    
}
.section-style{
    text-align: center;
    font-size: 18px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}